.bg-header {
	background-color: var(--primary-color);
	padding: 0 1rem;
	.name-app {
		font-size: 2rem;
		color: var(--white);
		font-weight: bolder;
	}
	.content-header {
		display: flex;
		justify-content: space-between;
		.user-tool {
			display: flex;
			align-items: center;
			font-size: 2em;
			i {
				margin: 0 0.5rem;
				color: var(--white);
			}
		}
	}
}

nz-content {
	margin: 0;
	min-height: calc(100vh - 65px - 70px);
	background-color: var(--background-app);
}

nz-breadcrumb {
	margin: 16px 0;
}

.inner-content {
	padding: 0;
}

.list-menu {
	background-color: var(--white);
	padding: 1em;
	.item-menu {
		display: flex;
		font-weight: bold;
		cursor: pointer;
        position: relative;
        min-width: 70px;
		:hover {
			&:before {
				content: '';
				position: absolute;
                border: 1px solid;
                border-color: var(--primary-color);
                width: 70px;
                bottom: 0px;
                animation-name: menuHover;
                animation-duration: 300ms;
			}
		}
	}
}

nz-footer {
	text-align: center;
}

ul,
li {
	margin-bottom: 0;
	padding-inline-start: 20px;
}
