@import 'mixin';

[nz-carousel-content] {
    text-align: center;
    height: 400px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    @include mq('tablet', 'max') {
        height: 350px;
    }
}

.banner-home{
    position: relative;
    img{
        width: 100%;
    }
}

h3 {
	color: #fff;
	margin-bottom: 0;
	user-select: none;
}

.top-items,
.list-product-by-category {
	.list-product {
		.product-card {
			padding: 0.5rem;
			@include mq('tablet', 'max') {
				padding: 3px;
			}
		}
	}
}

.list-product-by-category{
    font-size: 14px;
}

.top-items{
    font-size: 16px;
}



nz-divider {
	color: #333;
	font-weight: normal;
}
.inner-box {
	background: #0092ff;
	padding: 8px 0;
}
