<section class="list-banner">
	<nz-carousel nzAutoPlay [nzEffect]="'scrollx'" [nzEnableSwipe]="isMobileOrTablet" #antCarousel>
        <ng-container *ngFor="let index of listItem">
            <div class="banner-home" nz-carousel-content  >
                <img src="./assets/images/banner/banner-01.jpg">
            </div>
        </ng-container>

	</nz-carousel>
</section>
<section class="top-items container-shop">
	<div class="list-product" nz-row>
		<div *ngFor="let item of listItem" class="product-card" nz-col nzSpan="12" nzMd="6">
			<app-product-card></app-product-card>
		</div>
	</div>
</section>
<section class="list-product-by-category container-shop">
    <nz-divider class="home-category" nzPlain [nzText]="'category1'"></nz-divider>
	<div class="list-product" nz-row>
		<div *ngFor="let item of listItem" class="product-card" nz-col nz-col nzSpan="12" nzMd="4">
			<app-product-card></app-product-card>
		</div>
	</div>
</section>
<section class="list-product-by-category container-shop">
    <nz-divider class="home-category" nzPlain [nzText]="'category2'"></nz-divider>
	<div class="list-product" nz-row>
		<div *ngFor="let item of listItem" class="product-card" nz-col nz-col nzSpan="12" nzMd="4">
			<app-product-card></app-product-card>
		</div>
	</div>
</section>
