/* You can add global styles to this file, and also import other style files */
@import './assets/icomoom/style.scss';
@import './assets/scss/main.scss';
:root {
	--primary-color: #ff739a;
	--background-app: #efefef;
	--white: #fff;
	--box-shadow: #0000009a;
	--box-shadow-active: #ff00009a;
	font-size: 16px;
}

* {
	font-family: 'Montserrat', sans-serif;
}

// ul,
// li {
// 	margin-bottom: 0;
// 	padding-inline-start: 20px;
// }

.ant-divider-with-text{
    &.home-category{
        font-weight: 600;
        font-size: 2em;
    }
}
